<div class="game-status">
  <div class="status-header">
    <h2>Current Player:</h2>
    @if(currentPlayer() === PieceColor.White) {
    <img
      [src]="chessGameService.getPieceImage('pawn', 'white')"
      alt="white
    chesspiece"
    />
    } @else {<img
      [src]="chessGameService.getPieceImage('pawn', 'black')"
      alt="white chesspiece"
    />}
  </div>

  @if (isGameOver()) {
  <div class="check-status">
    <p>Checkmate!</p>
    <app-checkmate-modal />
  </div>
  } @if (gameState() === GameState.Check) {
  <div class="check-status">
    <p>Check! Protect your King!</p>
  </div>
  }
</div>
