<div class="game-status">
  <div class="status-header">
    <p>{{ currentPlayer() }}'s turn</p>
    @if(currentPlayer() === PieceColor.White) {
    <img
      class="current-player-chesspiece"
      [src]="chessGameService.getPieceImage('pawn', 'white')"
      alt="white
    chesspiece"
    />
    } @else {
    <img
      class="current-player-chesspiece"
      [src]="chessGameService.getPieceImage('pawn', 'black')"
      alt="white chesspiece"
    />}
  </div>

  @if (chessGameService.isCheckmate()) {
  <div class="check-status">
    <p>Checkmate!</p>
    <app-checkmate-modal [gameResolution]="'Checkmate!'" />
  </div>
  } @if (chessGameService.isStalemate()) {
  <div class="check-status">
    <p>Stalemate!</p>
    <app-checkmate-modal [gameResolution]="'Stalemate!'" />
  </div>
  } @if (gameState() === GameState.Check) {
  <div class="check-status">
    <p>Check! Protect your King!</p>
  </div>
  }
</div>
