<div class="checkmate-modal">
  <div class="modal-content">
    <h2>{{ gameResolution() }}</h2>
    <p>Winner: {{ winner() }}</p>
    <h3>Captured Pieces</h3>
    <div class="captured-pieces">
      <div>
        @for (piece of chessGameService.capturedPieces().white; track
        piece.type) {
        <img
          [src]="chessGameService.getPieceImage(piece.type, piece.color)"
          alt="{{ piece.color }} {{ piece.type }}"
        />
        }
      </div>
      <div>
        @for (piece of chessGameService.capturedPieces().black; track
        piece.type) {
        <img
          [src]="chessGameService.getPieceImage(piece.type, piece.color)"
          alt="{{ piece.color }} {{ piece.type }}"
        />

        }
      </div>
    </div>
    <button (click)="retry()">Retry</button>
  </div>
</div>
