<div class="theme-switcher">
  <button
    class="theme-switcher__dark-mode"
    [class.theme-switcher__dark-mode--active]="isDarkMode()"
    (click)="toggleDarkMode()"
    aria-label="Toggle Dark Mode"
  >
    <img src="/assets/icons/sun.svg" class="mode-icon mode-icon--sun" alt="" />
    <img
      src="/assets/icons/moon.svg"
      class="mode-icon mode-icon--moon"
      alt=""
    />
  </button>

  <div class="theme-carousel">
    @for (theme of baseThemes(); track theme.id) {
    <button
      class="theme-preview"
      [class.theme-preview--active]="
        theme.id === currentTheme().id ||
        theme.id + '-dark' === currentTheme().id
      "
      (click)="onThemeChange(isDarkMode() ? theme.id + '-dark' : theme.id)"
      [attr.aria-label]="'Switch to ' + theme.name + ' theme'"
    >
      <div class="theme-preview__colors">
        <div
          class="color-dot"
          [style.background-color]="theme.colors.lightSquare"
        ></div>
        <div
          class="color-dot"
          [style.background-color]="theme.colors.darkSquare"
        ></div>
        <div
          class="color-dot"
          [style.background-color]="theme.colors.accent"
        ></div>
      </div>
      <span class="theme-preview__name">{{ theme.name }}</span>
    </button>
    }
  </div>
</div>
